# adapted from https://github.com/taiki-e/cargo-hack/blob/main/.github/workflows/release.yml

name: Publish releases to GitHub
on:
  push:
    tags:
      - "*"

jobs:
  iddqd-release:
    if: github.repository_owner == 'oxidecomputer' && startsWith(github.ref_name, 'iddqd-0')
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write     # Required for OIDC token exchange
      contents: write     # Required for creating releases
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install cargo release
        uses: taiki-e/install-action@537c30d2b45cc3aa3fb35e2bbcfb61ef93fd6f02 # v2
        with:
          tool: cargo-release@0.25.17,just
      - uses: taiki-e/create-gh-release-action@26b80501670402f1999aff4b934e1574ef2d3705 # v1
        with:
          prefix: iddqd
          changelog: CHANGELOG.md
          title: $prefix $version
          branch: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: just ci-cargo-release
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
